body {

    background-image: url(SfondoPizza.png);
    background-attachment: fixed;

}

#RettangoloBianco {

    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 20px;
    margin: 80px;
    height: 1000px;

}

#titolo {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Verdana;
    color: rgb(247, 61, 28);
    font-size: 50px;

}

#FotoPizza1 {
    width: 500px;
    height: 300px;

}

#Ordinare {
    font-size: 20px;
    font-family: Verdana;

}

#pizzascelta {
    font-family: Verdana;



}