body {
    background-image: url(SfondoPizza.png);
    background-attachment: fixed;
    color: rgb(247, 61, 28);

}

b {
    color: orangered;
}

#rettangolobianco {
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 20px;
    margin: 80px;
    

}

#titolo {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Verdana;
    color: rgb(247, 61, 28);
    font-size: 50px;

}

#fotopizza1 {
    width: 500px;
    height: 300px;

}

#ordinare {
    font-size: 20px;
    font-family: Verdana;
    

}

#pizzascelta {
    font-size: 20px;
    font-family: Verdana;
    

}

#conto {
    font-size: 20px;
    font-family: Verdana;
    

}

#pagare {
    font-size: 20px;
    font-family: Verdana;


}

#fallito {
    font-size: 20px;
    font-family: Verdana;

}

#quiz {

    text-align: center;
    font-size: 20px;
    font-family: Verdana;

}

button {
    font-size: 20px;
    font-family: Verdana;
}

#risultati {
    font-size: 20px;
    font-family: Verdana;

}
